.custom-button {
    display: block;
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(40deg, #FFC001, #ffd24cda);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 5px 0px;

    &:disabled {
        background: linear-gradient(40deg, #ffedb9, #fff8e5da);

        &:hover {
            background: linear-gradient(40deg, #ffedb9, #fff8e5da);
        }
    }

    &:hover {
        background: linear-gradient(40deg, #ffbf00, #f3bb14da);
    }

    &.donate {
        background: linear-gradient(40deg, #B494FF, #c2a9ff);
        color: white;

        &:hover {
            background: linear-gradient(40deg, #c9b1ff, #d3c2ff);
            border: none;
        }
    }

    &.google-sign-in {
        background-color: #4285f4;
        background: linear-gradient(40deg, #4285f4, #5f9cff);
        color: white;

        &:hover {
            background-color: #357ae8;
            background: linear-gradient(40deg, #357ae8, #4382e9);
            border: none;
          }
    }

    .file {
        opacity: 0;
        width: 0.1px;
        height: 0.1px;
        position: absolute;
        cursor: pointer;
    }

    .file-input label {
        display: block;
        position: relative;
        width: 200px;
        height: 50px;
        border-radius: 25px;
        background: linear-gradient(40deg, #FFC001, #ffd24cda);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        transition: transform .2s ease-out;
    }
}