.fetch-data-api-modal-content {
    padding: 20px;
    text-align: center;
    align-content: center;

    form {
        text-align: center;
    }

    .fetch-progress-bar { 
        padding: 40px 0px 0px 0px;
    }
}